:root {
    /* Steps to change color of icon stoke
    1. decode the base64 svg (the string following 'base64, '
    2. modify the svg then reencode the modified svg back to base64
    3. replace the original base64 svg with the updated one */
    --gray-cat: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM5NDk0OTQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1naXRodWIiPjxwYXRoIGQ9Ik0xNSAyMnYtNGE0LjggNC44IDAgMCAwLTEtMy41YzMgMCA2LTIgNi01LjUuMDgtMS4yNS0uMjctMi40OC0xLTMuNS4yOC0xLjE1LjI4LTIuMzUgMC0zLjUgMCAwLTEgMC0zIDEuNS0yLjY0LS41LTUuMzYtLjUtOCAwQzYgMiA1IDIgNSAyYy0uMyAxLjE1LS4zIDIuMzUgMCAzLjVBNS40MDMgNS40MDMgMCAwIDAgNCA5YzAgMy41IDMgNS41IDYgNS41LS4zOS40OS0uNjggMS4wNS0uODUgMS42NS0uMTcuNi0uMjIgMS4yMy0uMTUgMS44NXY0Ii8+PHBhdGggZD0iTTkgMThjLTQuNTEgMi01LTItNy0yIi8+PC9zdmc+");
    --file-delete: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtdHJhc2gtMiI+PHBhdGggZD0iTTMgNmgxOCIvPjxwYXRoIGQ9Ik0xOSA2djE0YzAgMS0xIDItMiAySDdjLTEgMC0yLTEtMi0yVjYiLz48cGF0aCBkPSJNOCA2VjRjMC0xIDEtMiAyLTJoNGMxIDAgMiAxIDIgMnYyIi8+PGxpbmUgeDE9IjEwIiB4Mj0iMTAiIHkxPSIxMSIgeTI9IjE3Ii8+PGxpbmUgeDE9IjE0IiB4Mj0iMTQiIHkxPSIxMSIgeTI9IjE3Ii8+PC9zdmc+");
    --file-create: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtZmlsZS1wbHVzLTIiPjxwYXRoIGQ9Ik00IDIyaDE0YTIgMiAwIDAgMCAyLTJWN2wtNS01SDZhMiAyIDAgMCAwLTIgMnY0Ii8+PHBhdGggZD0iTTE0IDJ2NGEyIDIgMCAwIDAgMiAyaDQiLz48cGF0aCBkPSJNMyAxNWg2Ii8+PHBhdGggZD0iTTYgMTJ2NiIvPjwvc3ZnPg==");
    --file-change: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtcGVuY2lsIj48cGF0aCBkPSJNMTcgM2EyLjg1IDIuODMgMCAxIDEgNCA0TDcuNSAyMC41IDIgMjJsMS41LTUuNVoiLz48cGF0aCBkPSJtMTUgNSA0IDQiLz48L3N2Zz4=");
}

.fit-github-handle {
    align-items: center;
    margin-inline: 20px;
}

.fit-avatar-container {
    display: flex;
    align-items: center;
    padding-inline: 5px;
}

.fit-avatar-container.error {
    width: 16px;
    height: 16px;
    /* circle with cross */
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgtY2lyY2xlIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPjxwYXRoIGQ9Im0xNSA5LTYgNiIvPjxwYXRoIGQ9Im05IDkgNiA2Ii8+PC9zdmc+");
    transform: scale(1.5);
    aspect-ratio: 1;
    padding: 1px;
    margin-right: 4px;
    margin: 4px;
}

.fit-avatar-container.empty {
    width: 16px;
    height: 16px;
    /* dotted border empty circle */
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM5NDk0OTQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaXJjbGUtZGFzaGVkIj48cGF0aCBkPSJNMTAuMSAyLjE4MmExMCAxMCAwIDAgMSAzLjggMCIvPjxwYXRoIGQ9Ik0xMy45IDIxLjgxOGExMCAxMCAwIDAgMS0zLjggMCIvPjxwYXRoIGQ9Ik0xNy42MDkgMy43MjFhMTAgMTAgMCAwIDEgMi42OSAyLjciLz48cGF0aCBkPSJNMi4xODIgMTMuOWExMCAxMCAwIDAgMSAwLTMuOCIvPjxwYXRoIGQ9Ik0yMC4yNzkgMTcuNjA5YTEwIDEwIDAgMCAxLTIuNyAyLjY5Ii8+PHBhdGggZD0iTTIxLjgxOCAxMC4xYTEwIDEwIDAgMCAxIDAgMy44Ii8+PHBhdGggZD0iTTMuNzIxIDYuMzkxYTEwIDEwIDAgMCAxIDIuNy0yLjY5Ii8+PHBhdGggZD0iTTYuMzkxIDIwLjI3OWExMCAxMCAwIDAgMS0yLjY5LTIuNyIvPjwvc3ZnPg==");
    transform: scale(1.5);
    aspect-ratio: 1;
    padding: 1px;
    margin-right: 4px;
    margin: 4px;
}

.fit-avatar-container.cat {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.fit-avatar-container.cat::after {
    content: var(--gray-cat); /* Add content to pseudo-element */
    width: 24px;
    height: 24px;
    animation: spin-auth 2s linear infinite;
}

@keyframes spin-auth {
    from {
        transform: rotate(0deg) scale(0.75);
    }
    to {
        transform: rotate(360deg) scale(0.75);
    }
}

.fit-avatar-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fit-avatar-container img {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin: 2px;
    border-radius: 50%; /* Make the image circular */
}

.fit-notice {
    padding-left: 32px;
    position: relative; /* Set position to relative */
    overflow: hidden;
}

.fit-notice.static::after {
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 47%; /* Position at the center vertically */
    left: 5.7%; /* Position at the center horizontally */
    transform: translate(-50%, -50%); /* Center the pseudo-element */
}

.fit-notice.error::after {
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 47%; /* Position at the center vertically */
    left: 5.7%; /* Position at the center horizontally */
    animation: shake 0.5s forwards; /* Apply shake animation, forwards keep the last keyframe state */
}

@keyframes shake {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }
    20%, 40%, 60%, 80% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
}

.fit-notice.error::after {
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 47%; /* Position at the center vertically */
    left: 5.7%; /* Position at the center horizontally */
    animation: shake 0.5s forwards; /* Apply shake animation, forwards keep the last keyframe state */
}

@keyframes shake {
    0%, 100% {
        transform: translate(-50%, -50%) rotate(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate(-50%, -50%) rotate(-10deg);
    }
    20%, 40%, 60%, 80% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
}

.fit-notice.loading::after {
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 15%; /* Position at the center vertically */
    left: 2%; /* Position at the center horizontally */
    transform: translate(-50%, -50%); /* Center the pseudo-element */
    animation: spin-notice 2s linear infinite; /* Apply spinning animation to the icon */
}

@keyframes spin-notice {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fit-notice.done::after {
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 15%; /* Position at the center vertically */
    left: 2%; /* Position at the center horizontally */
    transform: translate(-50%, -50%); /* Center the pseudo-element */
    animation: jump 2s linear infinite; /* Apply spinning animation to the icon */
}

@keyframes jump {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(2px);
    }
    40% {
        transform: translateY(-4px);
    }
    60% {
        transform: translateY(0px);
    }
}

.fit-sync-ribbon-el {
    /* Add your custom styles here */
    position: relative; /* Set position to relative */
    font-size: 16px; /* Font size 16 pixels */
    overflow: hidden;
}

.fit-sync-ribbon-el.hide {
    /* hide the sync button */
    display: none;
}

.fit-sync-ribbon-el.animate-icon {
    /* Add your custom styles here */
    position: relative; /* Set position to relative */
    font-size: 16px; /* Font size 16 pixels */
    overflow: hidden;
}

.fit-sync-ribbon-el.animate-icon::after {
    /* Steps to change color of icon stoke
    1. decode the base64 svg (the string following 'base64, '
    2. modify the svg then reencode the modified svg back to base64
    3. replace the original base64 svg with the updated one */
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 4%; /* Position at the center vertically */
    left: 10%; /* Position at the center horizontally */
    animation: spin 2s linear infinite; /* Apply spinning animation to the icon */
}

@keyframes spin {
    from {
        transform: rotate(0deg) scale(0.75);
    }
    to {
        transform: rotate(360deg) scale(0.75);
    }
}

.fit-push-ribbon-el {
    /* Add your custom styles here */
    position: relative; /* Set position to relative */
    font-size: 16px; /* Font size 16 pixels */
    overflow: hidden;
}

.fit-push-ribbon-el.hide {
    /* hide the push button */
    display: none;
}

.fit-push-ribbon-el.animate-icon::before {
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 12%; /* Position at the center vertically */
    left: 12%; /* Position at the center horizontally */
    animation: elevator-up 2s linear infinite; /* Apply spinning animation to the icon */
}

@keyframes elevator-up {
    0% {
        transform: translateY(0) scale(0.75);
    }
    50.5% {
        transform: translateY(-100%) scale(0.75);
    }
    50.6% {
        transform: translateY(100%) scale(0.75);
    }
    100% {
        transform: translateY(0) scale(0.75);
    }
}

.fit-pull-ribbon-el {
    /* Add your custom styles here */
    position: relative;
    font-size: 16px; /* Font size 16 pixels */
    overflow: hidden;
}

.fit-pull-ribbon-el.hide {
    /* hide the pull button */
    display: none;
}

.fit-pull-ribbon-el.animate-icon::before {
    content: var(--gray-cat); /* Add content to pseudo-element */
    position: absolute; /* Set position to absolute */
    width: 24px; /* Set width of the pseudo-element */
    height: 24px; /* Set height of the pseudo-element */
    top: 12%; /* Position at the center vertically */
    left: 12%; /* Position at the center horizontally */
    animation: elevator-down 2s linear infinite; /* Apply spinning animation to the icon */
}

@keyframes elevator-down {
    0% {
        transform: translateY(0) scale(0.75);
    }
    50.5% {
        transform: translateY(100%) scale(0.75);
    }
    50.6% {
        transform: translateY(-100%) scale(0.75);
    }
    100% {
        transform: translateY(0) scale(0.75);
    }
}

.file-update-row {
    padding-top: 3px;
    padding-bottom: 2px;
    background-position: left center;
    background-size: 16px 16px;
    background-position-x: 3px;
    background-repeat: no-repeat;
    list-style-type: none;
    padding-left: 25px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.file-created {
    background-color: rgba(144, 238, 144, 0.4); 
    background-image: var(--file-create);
}

.file-changed {
    background-color: rgba(249, 180, 52, 0.4); 
    background-image: var(--file-change);
    
}

.file-deleted {
    background-color: rgba(255, 99, 71, 0.3); 
    background-image: var(--file-delete);
}

.file-changes-heading {
    font-weight: bold;
    font-size: small;
    line-height: 25px;
}
.file-changes-subheading {
    /* font-weight: bold; */
    font-size: small;
    line-height: 25px;
}

.file-conflict-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.file-conflict-delete::after, .file-conflict-change::after, .file-conflict-create::after {
    padding: 4px;
    border-radius: 20%;
    content: "     ";
    background-position: center center;
    background-repeat: no-repeat;
}
.file-conflict-delete::after {
    background-image: var(--file-delete);
    background-color: rgba(255, 99, 71, 0.3); 
}
.file-conflict-create::after {
    background-image: var(--file-create);
    background-color: rgba(144, 238, 144, 0.4);  
}
.file-conflict-change::after {
    background-image: var(--file-change);
    background-color: rgba(249, 180, 52, 0.4); 
}
.file-conflict-note {
    padding-left: 5px;
}

.clear {
    display: none;
}

.restore {
    display: visible;
}